@property --w_raw {
    syntax: '<length>';
    inherits: true;
    initial-value: 100vw;
}

@property --h_raw {
    syntax: '<length>';
    inherits: true;
    initial-value: 100vh;
}


:root {
    --main-bg-color: rgb(230, 230, 230);
    --alt1-bg-color: rgb(5, 5, 5);
    --base-text-color: #000000;
    --nav-height: 2em;

    --brightest-bg: rgb(230, 230, 230);
    --med-bg: rgb(170, 170, 170);
    --darkest-bg: rgb(120, 120, 120);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: rgb(15, 15, 15);
        --alt1-bg-color: rgb(222, 222, 222);
        --base-text-color: #eeeeee;

        --brightest-bg: rgb(75, 75, 75);
        --med-bg: rgb(45, 45, 45);
        --darkest-bg: rgb(15, 15, 15);
    }
}

html {
    /* Pattern from https://css-pattern.com */
    --s: 255px; /* control the size*/
    --c1: var(--darkest-bg);
    --c2: var(--brightest-bg);
    --c3: var(--med-bg);

    --_g: var(--c1) 10%,var(--c2) 10.5% 19%,#0000 19.5% 80.5%,var(--c2) 81% 89.5%,var(--c3) 90%;
    --_c: from -90deg at 37.5% 50%,#0000 75%;
    --_l1: linear-gradient(145deg,var(--_g));
    --_l2: linear-gradient( 35deg,var(--_g));
    background:
            var(--_l1), var(--_l1) calc(var(--s)/2) var(--s),
            var(--_l2), var(--_l2) calc(var(--s)/2) var(--s),
            conic-gradient(var(--_c),var(--c1) 0) calc(var(--s)/8) 0,
            conic-gradient(var(--_c),var(--c3) 0) calc(var(--s)/2) 0,
            linear-gradient(90deg,var(--c3) 38%,var(--c1) 0 50%,var(--c3) 0 62%,var(--c1) 0);
    background-size: var(--s) calc(2*var(--s)/3);

    scrollbar-gutter: stable;
    scrollbar-width: thin;
    overflow-x: hidden;

    background-color: var(--main-bg-color);
}

#background-blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

main{
    position: absolute;
    inset: 0;
    top: var(--nav-height);
    max-width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;

    padding: 0 1rem 0 1rem;

    background-color: color-mix(in srgb, var(--main-bg-color) 75%, transparent);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

h1{
    color: var(--base-text-color);
}

h2{
    color: var(--base-text-color);
}

h3{
    color: var(--base-text-color);
}

p {
    color: var(--base-text-color);
}

span {
    color: var(--base-text-color);
}


footer{
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
}

footer > * {
    margin: 0;
}