:root {
    --main-bg-color: #0f0f0f;
    --main-txt-color: #f1f1f1;
}

@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: #f1f1f1;
        --main-txt-color: #0f0f0f;
    }
}
