@media (orientation: portrait) {
    .modalContent{
        flex-direction: column;
    }

    #photo{
        max-height: max(calc(var(--h_raw) * 0.70), 70vh);
        max-width: max(calc(var(--w_raw) * 0.95), 95vw);
    }

    #imageInfo{
        max-width: 90%;
        text-align: center;
        align-self: center;
    }
}

@media (orientation: landscape) {
    .modalContent{
        flex-direction: row;
    }

    #photo{
        max-height: max(calc(var(--h_raw) * 0.95), 95vh);
        max-width: max(calc(var(--w_raw) * 0.70), 70vw);
    }

    #imageInfo{
        max-width: 30%;
        display: flex;
        flex-direction: column;
    }

    #imageInfo a {
        align-self: center;
        position: absolute;
        bottom: 2rem;
    }

    #imageInfo a button{
        opacity: 75%;
    }
}

.photoModal {
    position: fixed;
    display: flex;
    z-index: 1;
    max-height: max(calc(var(--h_raw) * 0.95), 95vh);
    max-width: max(calc(var(--w_raw) * 0.95), 95vw);

    top: 50vh;
    right: 50vw;
    transform: translate(50%, -50%);
}

.photoModalBackground{
    position: fixed;
    left: 0;
    top: 0;
    width: var(--w_raw);
    height: var(--h_raw);
    backdrop-filter: blur(1px);
}


.modalContent{

    overflow: auto;
    display: flex;

    place-content: center;

    z-index: 2;

    background-color: color-mix(in srgb, var(--main-bg-color) 70%, transparent);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;

    gap: 10px;

    max-height: calc(var(--h_raw) * 0.95);
    max-width: calc(var(--w_raw) * 0.95);

    box-shadow: 0 0 25px 0 color-mix(in srgb, var(--alt1-bg-color) 10%, transparent);
    box-sizing: border-box;
}


#photo{
    object-fit: contain;
}


/* imageInfo is the title, description etc.*/
#imageInfo{
    padding: 10px;
    border-radius: 10px;
    background-color: color-mix(in srgb, var(--main-bg-color) 90%, transparent);
}

#closeButton{
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 30%;
    right: 5px;
    top: 5px;
}

