#imageList {
    list-style: none;

    position: absolute;

    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 2rem;

    width: 70%;

    margin-top: 2rem;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;

    box-shadow: 0 0 10px 0 color-mix(in srgb, var(--alt1-bg-color) 5%, transparent);
}

.thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 0 color-mix(in srgb, var(--alt1-bg-color) 10%, transparent);
}