@media (orientation: portrait) {
    .modalContent{
        flex-direction: column;
    }

    #photo{
        max-height: calc(var(--h_raw) * 0.70);
        max-width: calc(var(--w_raw) * 0.90);
    }

    #imageInfo{
        width: 90%;
        text-align: center;
        align-self: center;
    }

}

@media (orientation: landscape) {
    .modalContent{
        flex-direction: row;
    }

    #photo{
        max-height: calc(var(--h_raw) * 0.90);
        max-width: calc(var(--w_raw) * 0.70);
    }

    #imageInfo{
        width: 30%
    }
}

.photoModal {
    position: fixed;
    display: flex;
    z-index: 1;
    height: calc(var(--h_raw) * 0.95);
    width: calc(var(--w_raw) * 0.95);

    place-content: center;
}

.photoModalBackground{
    position: fixed;
    left: 0;
    top: 0;
    min-width: var(--w_raw);
    min-height: var(--h_raw);
    backdrop-filter: blur(1px);
}



.modalContent{

    overflow: auto;
    display: flex;
    justify-content: center;

    place-self: center;

    z-index: 2;

    background-color: color-mix(in srgb, var(--main-bg-color) 70%, transparent);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;

    gap: 10px;

    max-height: calc(var(--h_raw) * 0.95);
    max-width: calc(var(--w_raw) * 0.95);

    box-shadow: 0 0 25px 0 color-mix(in srgb, var(--alt1-bg-color) 10%, transparent);
    box-sizing: border-box;
}


#photo{
    object-fit: contain;

}

/* imageDiv includes the image and the full image button*/
.imageDiv{
    display: grid;
    place-items: center;

    max-width: 100%;
    max-height: 100%;
}

/* imageInfo is the title, description etc.*/
#imageInfo{
    padding: 10px;
    border-radius: 10px;
    background-color: color-mix(in srgb, var(--main-bg-color) 90%, transparent);
}

#closeButton{
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 30%;
    right: 5px;
    top: 5px;
}

